<link rel="stylesheet" href="css/style.css">

<h1>Welcome to the simple Link Shortener</h1>

<h3>You can add new links below:</h3>

<form>
    <table>
        <thead>
            <tr>
                <td>
                    Route
                </td>
                <td>
                    Destination
                </td>
                <td>
                    Configurate
                </td>
            </tr>
        </thead>
    <% for(let entry of data) { %>
        <tr>
            <td>
                <%= entry[0] %>
            </td>
            <td>
                <%= entry[1] %>
            </td>
            <td>
                <button onsubmit="window.location.href = '/delete/<%= entry[0] %>'">remove</button>
            </td>
        </tr>
    <% } %>
    </table>
</form>